<h1>Welcome to Travel Note!</h1>
<p>Hi <%= current_user.name.capitalize %>! You're logged in!</p>
<% if flash[:error] %>
<p><%= flash[:error] %></p>
<% end %>
<form action="/profiles/search" method= "GET">
  <input type="text" id="travel-search" name="searchterm">
  <button type="submit">Search Country</button>
</form>

<div class="users-destinations">
  <h3>Travel buddies board</h3>
  <% @destinations.each do |x|%>
  <% if x.user.profile.travel_buddy == true%>
    <p><%= link_to "#{x.country}", {:controller => "destinations", :action => "view", :name => {:country => x.country, :userid => x.user.id}} %> by <%= x.user.name.capitalize %> </p>
    <% end %>
  <% end %>
</div>
