/*Normalise*/
body {
  margin: 0;
  padding: none;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-decoration: none;
}


/*Layout*/

#my-destination {

  background-image: url(https://assaadmouawad.files.wordpress.com/2011/06/world_traveler2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.profile {
  border-style: solid;
  border-color: grey;
  height: 150px;
  padding: 10px;
  margin: 0;
  text-align: center;
  background-image: none;
}

.profile > h3 {
  display: inline-block;
  padding: 10px;
  text-align: center;
}
.profile > img {
  height: 80px;
  position: absolute;
  left: 0px;
}

.profile-buttons {
  display: inline-block;
  position: absolute;
  right: 10px;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#message-board{
  background-color: white;
}

#line-chart {
  background-color: white;
}
